# URL base da API em execucao para receber as requisicoes do supertest
APPLICATION_BASE_URL=http://localhost:3001

# URL de conexao com o banco de testes isolado
DATABASE_URL=postgresql://postgres:postgres@localhost:5433/aprovaai_test
